* {
  margin: 0;
  padding: 0;
}

.idsk-warning-text {
  margin-bottom: 0;
}

.idsk-footer-extended-up-button-a {
  float: none;
}

// .td-sticky {
//   position: sticky;
//   top: 0px;
//   left: 0px;
// }

.download-button {
  color: #fff;
  text-decoration: none;
}

.idsk-header-web__main-action .idsk-button {
  margin: 0;
}

.main {
  margin-top: 30px;
}

.text-center {
  text-align: center;
}

// button Hore
.govuk-width-container-td {
  display: flex;
  margin-bottom: 2px;
  justify-content: flex-end;
}

.idsk-footer-extended-up-button-a {
  float: none;
}

.idsk-hr-separator,
idsk-hr-separator-until-tablet {
  background: #003078;
}

.govuk-heading-xl,
.govuk-heading-l {
  color: #003078;
}

//footer copyright
.idsk-footer-extended-frame-td {
  margin-top: 15px;
}
@media (min-width: 769px) {
  .download-btn {
    display: none;
    color: white;
  }
  .idsk-button {
    // margin-bottom: 22px;
    margin-bottom: 0;
  }
}

@media (max-width: 769px) {
  .idsk-button {
    // margin-bottom: 22px;
    margin-bottom: 0;
  }
}

//projekty

.projekt {
  // background-color: green;
}

.projekty-margin-top {
  margin-top: 2rem;
}

//general
@media (min-width: 514px) {
  .govuk-heading-m-td {
    min-width: 20.8rem;
  }
}

// hero

.idsk-intro-block .govuk-heading-xl-td {
  margin-bottom: 30px;
}

.idsk-intro-block .govuk-body-td {
  margin-bottom: 30px;
}
